.category-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #34adff;
	background-image: -webkit-linear-gradient(30deg, #6c61f6 45%, #4cbfff 45%);
	min-height: 400px;

	color: white;
}
.category-heading {
	position: relative;
	top: 12vh;
	text-align: center;
}
.category-wrapper {
	height: 90vh;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center; */
	width: 80%;
	margin: 15vh auto;
}

.category-wrapper button {
	width: 200px;
	height: 200px;
	margin: 2rem;
	border-radius: 15px;
	background-color: #f1faee;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category-wrapper button:hover {
	background-color: #ff6b6b;
	color: white;
	transform: scale(1.02);
}
