.difficulty-page {
	height: 100vh;
	overflow: hidden;
	background-color: #34adff;
	background-image: -webkit-linear-gradient(150deg, #6c61f6 45%, #4cbfff 45%);
	min-height: 400px;
	color: white;
}

.difficulty-buttons {
	display: flex;
	justify-content: center;
	height: 60vh;
	width: 80vw;
	margin: 15vh auto;
}

.difficulty-buttons button {
	width: 30%;
	margin: 10px;
	border-radius: 10px;
	font-size: 24px;

	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: all 0.3s ease-in;
}

.difficulty-buttons button:hover {
	transform: scale(1.03);
}
.difficulty-heading {
	position: relative;
	top: 12vh;
	text-align: center;
}
.easy {
	background-color: #94e27e !important;
}

.medium {
	background-color: #ffd87d !important;
}

.hard {
	background-color: #fc8764 !important;
}
