.landing-page {
	height: 90vh;
	/* background: #00b4db;  */
	/* fallback for old browsers */
	background-color: #34adff;
	background-image: -webkit-linear-gradient(150deg, #6c61f6 15%, #4cbfff 45%);
	min-height: 400px;
	color: white;
}

.landing-content {
	height: 60vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10vh 10vw;
}

.left-content button {
	margin-top: 3rem;
	background-color: #6c61f6;
	color: white;
}

.left-content button:hover {
	color: saddlebrown;
}

.left-content a {
	text-decoration: none;
}
/* .question-mark-image {
	height: 300px;
	width: 300px;
} */
.question-mark-image img {
	width: 350px;
	height: 350px;
}

@media (max-width: 500px) {
	.landing-content {
		height: 60vh;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-items: center;
		margin: 10vh 10vw;
	}

	.question-mark-image img {
		width: 200px;
		height: 200px;
		margin-top: 10vh;
	}

	.left-content button {
		margin-top: 3rem;
		background-color: #6c61f6;
		color: white;
	}
	.left-content {
		text-align: center;
	}
}
